@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  .footer {
    ul a {
      font-size: 0.9rem;
    }
  }
  .verify {
    i {
      font-size: 1rem !important;
    }
    h6 {
      font-size: 0.7rem !important;
    }
  }
}
@media screen and (max-width: 768px) {
  .verify {
    .col-md-4 {
      margin-top: 1rem;
    }
    i {
      font-size: 1.6rem !important;
    }
    h6 {
      font-size: 1rem !important;
    }
  }
  .mainfooter {
    text-align: center;
  }
  .footerleft button {
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .section1 {
    .col-md-8 {
      .loginleft {
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    }
    .col-md-4 {
      text-align: center;
      justify-content: center;
    }
  }
}
@media screen and (max-width: 576px) {
  .navbar {
    & button {
      padding: 0.4rem 0.8rem !important;
    }
  }

  .box2 button {
    left: 32% !important;
    top: 18% !important;
    transform: translateY(-6rem);

    opacity: 0;
  }

  .box1:hover .box2 button {
    cursor: pointer;
    opacity: 1;
    transition: all ease-in-out 0.3s;
    transform: translateY(0.9rem);
  }
  .section2 {
    .col-sm-6 {
      width: 75%;
      margin: 0 auto;
      margin-top: 1.5rem !important;
    }
  }
  .modal-content {
    width: 90% !important;
    margin: 0 auto;

    height: 70%;
  }
  .section2 {
    & .col-sm-6 {
      width: 96% !important;
    }
  }
}
@media screen and (max-width: 420px) {
  .section2 {
    .col-sm-6 {
      width: 100% !important;
    }
  }
  .modal-content {
    width: 97% !important;
    margin: 0 auto;

    height: 70%;
  }

  .footer {
    ul a {
      font-size: 0.8rem !important;
      margin-left: 0.111rem;
    }
  }
}
