* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

@import "footer";
@import "main";
@import "navbar";
@import "style";
@import "variables";
::-webkit-scrollbar {
  width: 0.4rem;
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
}
